<div id="container">
Welcome <span id="player1"><%= @player1.name %></span> & <span id="player2"><%= @player2.name %> </span>

<table class="racer_table">
  <tr id="player1_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player2_strip">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>