<div class="container">
  <h1>Ready to Race.</h1>
  <p>Enter your names</p>

  <form action="/" method="post">
  <label for="user1">
    User1<br/>
    <input id="user1" type="text" name="user[user_1]" placeholder="1st player">
  </label>
  <br/>
  <label for="user2">
    User2<br/>
    <input id="user2" type="text" name="user[user_2]" placeholder="2nd player">
  </label>

  <input type="submit" value="GO!" >

  </form
</div>
